.DS_Store
Thumbs.db

*.ts
*.log
tsconfig.json
tslint.json
.eslintrc
.editorconfig
renovate.json
.parcelrc
.travis.yml
.prettierrc
.releaserc
.nycrc.json
cspell.json
*.lcov
.yarnrc.yml
yarn.lock

.env.*

!*.d.ts

typings/
node_modules/
examples/
build-examples/
build/
spec/
test/
docs/
scripts/
.nyc_output/
.vscode/
.yarn/
.github/
coverage/
.husky/
.parcel-cache/
