.DS_Store

*.ts
*.log
*.map
tsconfig.json
tslint.json
.eslintrc
.editorconfig
.travis.yml
.prettierrc
.releaserc
.nycrc.json
yarn.lock

.nyc_output/

!index.d.ts

typings/
node_modules/
spec/
test/
.vscode/
coverage/
