.DS_Store
Thumbs.db

*.ts
*.log
tsconfig.json
tslint.json
.eslintrc
.editorconfig
.travis.yml
.prettierrc
.releaserc
.nycrc.json
*.lcov
yarn.lock
mocha.opts

.nyc_output/

!*.d.ts

typings/
node_modules/
spec/
src/
test/
.vscode/
coverage/
.github/
