{
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    },
    {
      "files": ".eslintrc",
      "options": { "trailingComma": "none" }
    }
  ],
  "printWidth": 110,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "all"
}
